<% @proper_title = 'layouts/title' %>

<div class="row center-text">
<h3>Are you really Erica??</h3>
	<div class="large-12 small-12">
		<%= form_for @thing do |f| %>
		<%= f.label 'password' %>
		<%= f.text_field :password %>
		<% end %>
	
	</div>
</div>