<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title_teacher' %>
<div class="row margin-top">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-5 large-centered columns">
				<div class="row collapse">
					<div class="small-9 columns">
						<input type="text" placeholder="Your Email">
					</div>
					<div class="small-3 columns">
						<a href="#" class="button ">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
		
		<% # Iterate through teacher posts and render html %>
		<% @posts.reverse_each do |post| %>	
			<% if post.section == 'teacher' %>
				<div class="TextBox padding">
					<div class="datebox"><p><%= post.date %></p></div>
					<h4>Dear Teacher </h4>
					<p> <%= simple_format post.body %> </p>
				</div>		
				<!--end TextBox!-->		
			<% end %>			
		<% end %>
	</div>
</div>