<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title' %>
<div class="row margin-top TextBox padding">
	<div class="large-4  columns">
	<%= image_tag("erica24.jpg", alt: "About Erica") %>
	</div>
	<div class="large-8 columns text-left">	Erica has been an advocate for children all of her life.  As a young child she would speak up for others when they could not find their voice but she didn’t know how to speak up for her own unique learning needs.  She suffered silently for many years at school, considering herself incapable of learning in the ways people expected.   Now, after many years of growth, learning and self-study she deeply understands  what she needed most was someone to help her recognize, access and leverage her many strengths. <br><br>For the past 18 years of her professional career Erica has immersed herself in the world of education in search of the best and most relevant ways to reach and teach ALL learners.    She has been a teacher, a counselor and a learning specialist in public and private sectors, both in the United States and in South America.  She earned her B.A. in Elementary Education from University of Montana and Master’s  School Social Work from Eastern Washington University.<br><br>	Erica recently moved to Bellingham, Washington with her husband James, and two school-age daughters after spending a year traveling the world with her family.    She has a deep passion for many things including writing (look for her memoir to be published someday),  spending time in nature with her friends and family, making art, dancing, traveling and serving others.  She thrives on meaningful, connected conversations which serve to move herself and others in a forward, positive direction.<br><br>She looks forward to hearing your story too.
		<br>
		<br>
		<a href="contact">(Contact Erica)</a>
		<br>
		<br>					
	</div>
    <%= image_tag("erica33.jpg", alt: "Erica Wolverton", :class => "text-center margin-bottom") %>   
</div>
<br>

	
