<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Erica Wolverton</title>
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/stylesheet.css" />
	<script src="bower_components/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>

<body>






<?PHP 
    include 'blogtitle.php';
?>




<?php
	include 'header.php';
?>




	<div class="row margin-top">
		<div class="large-12 columns">





			<div class="row">
				<div class="large-5 large-centered columns">
					<div class="row collapse">
						<div class="small-9 columns">
							<input type="text" placeholder="Your Email">
						</div>
						<div class="small-3 columns">
							<a href="#" class="button postfix">Subscribe</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-2  columns">
					<%= image_tag("erica33.jpg", alt: "Erica Wolverton", :class => "circleimage") %>  
					<img id="circleimage" src="images/logo.png">
				</div>

				<div class="large-10 columns">
					<div class="introtext">
						<p id="intro"><strong>Hello,</strong><br>
Thank you for peeking in on my virtual note passing between all of our dear parents and dear teachers.  I write these letters from two perspectives in an effort to deepen understandings and to encourage compassionate conversations between the people who matter most in the lives of children - families and teachers. These compassionate letters will serve to make schools better for our kids, better for our teachers and better for the families schools serve.  Just like in the days when we were passing notes in the hallways of our own schools, we can have compassionate conversations to make our  schools great.  <br>
Compassionately yours,<br>
Erica
</p>
					</div>
				</div>
			</div>





			<div class="TextBox">
				<div class="datebox">
					<p>Feb 28</p>
				</div>
				<p>Dear Teacher,
					<br>dolor sit amet, ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
                    <br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.</p>
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>

					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />

			</div>

			<!--end TextBox!-->



			<div class="TextBox">
				<div class="datebox">
					<p>Feb 28</p>
				</div>
				<p>Dear Parent,
					<br>ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
					<br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>
					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />
			</div>

			<!--end TextBox!-->
		</div>
	</div>
	</div>
	<div class="bottom">
		<div class="stuff">

		</div>
	</div>


	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/foundation/js/foundation.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>