
<!doctype html>
<html class="no-js" lang="en">

<body>
    


	<div class="wrapper">

        
		<div class="row contact-section">
			<div class="large-7 column">
                <br>
                <h4 class="contacttext"><strong>I'd love to connect with you.<br></strong> Send me an email at ewolvert@hotmail.com or fill out this contact form.</h4>
				<form name="contactform" method="post" action="send_form_email.php">
					<div class="large-12 columns">

						<input type="text" name="email" placeholder="Your Email" />

					</div>

					<div class="large-12 columns">

						<input type="text" name="first_name" placeholder="Your Name" />

					</div>

					<div class="large-12 columns">

						<textarea name="comments" placeholder="Your Message" rows="6"></textarea>

					</div>

					<input type="submit" value="Send" href="#" class="button right contactbutton">
				</form>
			</div>
            
            
			<div class="large-5 column text-center">
		          
		
				
						<%= image_tag("erica30.jpg", alt: "Erica Wolverton") %>  
				
			
			</div>

		</div>
	</div>


	</div>
	</div>


	<script src="js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>


</body>

</html>

</html>