<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title' %>
<div class="row margin-top">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-4 medium-4 small-4  columns margin">
				<a href="work"><%= image_tag("workwithme.jpg", alt: "Work with me") %></a>
			</div>

			<div class="large-4 medium-4 small-4  columns margin">
				<a href="about"><%= image_tag("erica4.jpg", alt: "Work with me") %></a>
			</div>
              
			<div class="large-4 medium-4 small-4  columns margin">
				<a href="blog"><%= image_tag("theblogfull.jpg", alt: "Work with me") %></a>
			</div>
		</div>
		<div class="row">
			<div class="columns text-centered header-testimonial">
				<h5>"I help kids and families who struggle in school by providing emotional, social, academic and advocacy support."</h5>
				<br>
				<p> <strong>Committed. Passionate. Proactive. Professional. Dynamic. Full of integrity. Expert. Fun. <br></strong><i>These are just a few of the terms that come to mind when I think of educator Erica Wolverton. -- HR, The Gardner School</i></p>
			</div>
		</div>
	</div>
</div>



