<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title' %>
<div class="row margin-top">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-4 medium-4 small-4  columns margin">
				<a href="work.php"><%= image_tag("workwithme.jpg", alt: "Work with me") %></a>
			</div>

			<div class="large-4 medium-4 small-4  columns margin">
				<a href="about.php"><%= image_tag("erica4.jpg", alt: "Work with me") %></a>
			</div>
              
			<div class="large-4 medium-4 small-4  columns margin">
				<a href="blog.php"><%= image_tag("mail2.jpg", alt: "Work with me") %></a>
			</div>
		</div>
	</div>
</div>



