<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Erica Wolverton</title>
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/stylesheet.css" />
	<script src="bower_components/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>

<body>






<?PHP 
    include 'title.php';
?>




<?php
	include 'header.php';
?>



	<div class="row margin-top">
		<div class="large-12 columns">
            <div class="TextBox" id="workwithme">
			     <div class="row">
				    <div class="large-12 columns">
<div class="right"><a href="docs/services.pdf" target="_blank">(download .pdf)</a></div>				
<h4>Let me help.<br> Here's what our partnership will offer you:</h4>

<ul>
    <li>Deep knowledge about ways to identify your <strong>child’s greatest areas of strength</strong>

and greatest opportunities for growth.</li>
    <li>Detailed information about specific areas for growth as well as <strong>strategies</strong> to

improve each growth area.</li>
    <li>An <strong>action plan</strong> you can use within the family and with schools and coaches.</li>
    <li>Advocacy for  your child who will gain the ability to speak up about his or her

strengths and needs as a learner</li>
    <li>Compassionate listening from me when the learning process becomes frustrating

and overwhelming for your child or for you.</li>
    <li>Partnership as an advocate and an ally at school meetings or teacher

conversations.</li>
</ul>                       
                        
                        



                <br>
                        <h4>Sometimes something simple is needed: </h4> 
    <p>“Emi had very low test scores because he was a very social boy who had a difficult time sitting for long lengths of time.  When Erica facilitated permission for him to take his own frequent breaks to get up and go tell other teachers and allies in the school about his progress, his score jumped an amazing 20 points.”  He was so proud his progress.  It was the first time he did not feel shame about testing.</p>
    <p> “Natalie struggled to regulate her emotions.  Sad and happy events made her cry and her frequent crying got in the way of her learning.  Natalie and Erica created a comfort basket which contained a journal, markers, a favorite stuffed animal and a photo of her family.  Whenever Natalie struggled to regain control of her emotions she had permission to retreat to a comfy corner with her basket.”  She felt empowered and nurtured by this basket, which helped her join the class much quicker.</p>
 

    <br>
    <h4>Sometimes something more complicated is required: </h4>
    
    <p>“Mariana was academically and emotionally mature for her age.  She loved being in fourth grade and she tried very hard to fit in but her peer group was not a great fit for her.  She felt alone and isolated.  After extensive observation, assessments and conversations with Mariana’s learning team,  Erica advocated for Mariana to move to the next grade level.  This decision was the best decision we could have made for Mariana.  She is now thriving in a peer group that supports her needs academically and socially.”</p>
    <br>
    <p>“Fifth grade Elizabeth struggled daily to understand mathematical concepts but she was very gifted in writing.  The school struggled to meet her very diverse needs.  Erica advocated for Elizabeth to get special support from the learning specialist in math AND, at the same time, she created a partnership between Elizabeth and  the high school drama teacher to support Elizabeth’s extraordinary playwright strengths.  By the end of the year the high school drama students even produced one of Elizabeth’s plays.”</p>
                        
                            <a href="contact.php">(Contact me)</a>
                        <br><br>
    <br>
                        
   
     
                <h4>Attuning a Student - All Kinds of Minds©</h4> 
                <p><a href="#">(Link to information page)</a></p>
                <div class="assessmentbox"><h4>One Time Assessment</h4>
                <p>Includes a full Strength Based Assessment of 

neurodevelopmental functioning.  This will include:</p>
                <ul>
                    <li>On-line assessment for student and parents</li>
                    <li>Data analysis and interpretation</li>
                    <li>Learning profile of strengths and areas for growth</li>
                    <li>An Action Plan</li>
                    <li>Demystification meeting with student</li>
                    <li>Family Conference</li>
                    <li>School Conference (as needed or requested for extra

fee)</li>
                </ul>
                <br>
                <h4>One Time Fee - $500</h4>
                <br>
                <p><strong>$150.00 Discount for Bellingham Public School Families</strong><br>
                    <a href="contact.php">(Contact Me)</p></a></div>
          
            <br>
     
            
         
        <div class="assessmentbox"><h4>Educational Advocacy or Coaching:</h4>        
        <p>Regular follow-up related to the <strong>action plan </strong>created during the Attuning A Student
process. May involve:</p>
        <ul>
            <li>Phone calls</li>
            <li> One-one therapy/coaching/tutoring with child for academic or social/emotional
needs</li>
            <li>On-going support for family</li>
            <li>Classroom observations</li>
            <li>Home observations</li>
            <li>Social interaction observations and/or meetings with school. </li>
        </ul>
        <br>
        <p><strong>Fees assessed monthly depending on needs<br>Schedule your free consultation now. </strong> <br><a href="contact.php">(Contact Me)</a></p></div>
                    
        <br>
        <br>
        <h4>In partnering with me, you can expect these results:</h4>
        <p class="quote">"After working with Erica for just a short time, we saw a great
<strong>improvement in our daughter’s math scores</strong> as well as in her attitude
towards the subject area. She was much more comfortable and
confident in approaching problems because of the <strong>strategies and skills
Erica taught.</strong> We were delighted to see how Erica’s work with our
daughter went beyond the classroom walls as she helped build her selfesteem
to be able to better handle social situations. Today, our
daughter is a strong, confident and academically successful pre-teen
and a good part of that is thanks to Erica. Not only did she teach our
daughter strategies, the time she spent with me has helped me be
more aware of and supportive in developing these attributes in our
daughter." - Alexis</p>
    <br>
    <p class="quote">
         “I had hoped to be able to come to school today to say good-bye and thank you personally for everything you did for Caio this year.  He absolutely loves going to school every day and that is because of you and the way you interact with your class.  It has been wonderful to watch him grow over the course of this school year and see the transition from his basic assignments to the more elaborate projects.”  - Richard
    </p>
                
    <div class="text-center">
        <%= image_tag("childtestimonial.jpg", alt: "Erica Wolverton") %>  
        
        </div>
    <h4>How can I help you? </h4>
    
     <a href="contact.php">(Contact me)</a>
    </div>
      		</div>
	</div>
	</div>
            
        </div>   </div>  

	<div class="bottom">
		<div class="stuff">

		</div>
	</div>


	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/foundation/js/foundation.min.js"></script>
	<script src="js/app.js"></script>
</body>

</html>