<script>$(document).foundation();</script>

	<div class="row margin-top">
		<div class="large-12 columns">

			<div class="row">
				<div class="large-5 large-centered columns">
					<div class="row collapse">
						<div class="small-9 columns">
							<input type="text" placeholder="Your Email">
						</div>
						<div class="small-3 columns">
							<a href="#" class="button postfix">Subscribe</a>
						</div>
					</div>
				</div>
			</div>
					
			<div class="TextBox">
<div class="datebox"><p>Feb 28</p></div>
				<p>Dear Teacher,
					<br>dolor sit amet, ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
					<br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>

					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />

			</div>

			<!--end TextBox!-->					
			<div class="TextBox">
<div class="datebox"><p>Feb 28</p></div>
				<p>Dear Teacher,
					<br>dolor sit amet, ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
					<br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>

					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />

			</div>

			<!--end TextBox!-->					
			<div class="TextBox">
<div class="datebox"><p>Feb 28</p></div>
				<p>Dear Teacher,
					<br>dolor sit amet, ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
					<br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>

					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />

			</div>

			<!--end TextBox!-->					
			<div class="TextBox">
<div class="datebox"><p>Feb 28</p></div>
				<p>Dear Teacher,
					<br>dolor sit amet, ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
					<br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>

					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />

			</div>

			<!--end TextBox!-->



			<div class="TextBox">
			<div class="datebox"><p>Feb 28</p></div>
				<p>Dear Parent,
					<br>ne eam insolens sapientem consetetur. Qui maluisset corrumpit ea, vim eu quod decore. Usu ea possit latine eripuit. Appetere pericula voluptatum eum at, eos id oratio nostrum similique. Ne ius quem dolorum, aliquid quaerendum comprehensam has cu, tacimates consequat an eam.
					<br>
					<br>Sit no omnis justo propriae, ne pro quas scaevola expetenda. Sea fugit utamur ne, pri an dicit utinam maluisset, has ignota propriae id. Usu habeo atqui no, sea dico imperdiet te, ne pro duis natum fugit. Vim ne quis numquam epicurei.
					<br>
					<p class="content">

						<br>Vim ad omnis reque. Quidam efficiantur pro at, ex quo suas aeque recusabo, eu integre ocurreret urbanitas ius. Ne his accusam scaevola scriptorem. His et equidem contentiones, augue vivendum honestatis no ius. Forensibus maiestatis ius an, graeci fabellas vis ex, exerci dissentiet vim ad. Pri an quodsi mentitum vituperata, quo meliore nusquam te. Id suas quando complectitur eum, iuvaret eligendi adipiscing sit et, corpora molestie per ea. Agam veniam qui in. Habeo fuisset adipisci qui ut, assum audire discere mei et, est ferri atqui graecis id. Appareat gloriatur repudiandae an sed, vim agam discere ne, mea eu malis affert. Tritani quaeque nominati sed ex.
						<br>
					</p>
					<input type="button" id="toggleButton" value="Click to read more..." class="button-div" />
			</div>

			<!--end TextBox!-->
		</div>
	</div>
	</div>
	<div class="bottom">
		<div class="stuff">

		</div>
	</div>

</html>