<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title' %>
<div class="row margin-top	">
	<div class="large-12 columns TextBox padding">
			<h4>I work with kids and families who struggle in school.</h4>
			<p></p>
			<a href="services.php">(Link to services page)</a>
			<p></p>
			<div class="row">
			    <div class="large-8 columns">
			My clients are families and kids who need a plan to help navigate the complex process of 

			schooling and learning.  Sometimes my clients need someone to advocate for their needs.  Sometimes they need 

			social/emotional coaching and sometimes the entire family needs help managing and navigating 

			all of the systems and people in the lifespan of a child’s schooling career.
			<p></p>
			 I am an advocate for students and families.
			<p></p>
			I am a therapist.
			<p></p>
			I am an educator.
			<p></p>

			I am an ally.
			<p></p>
			In our work together I will listen to your <strong>learning history and your childs learning story</strong> to 

			help give voice to the challenges you face and the strengths you possess.  I will <strong>conduct 

			several assessments</strong>, formative and summative, observational and anecdotal, to help identify 

			areas of strength and areas of challenge.  We will use stories, data and evidence to create an 

			action plan that will move you and your child in the direction you wish to be heading.
			        <p></p></div>
			<div class="large-4 columns">
			<%= image_tag("erica25.jpg", alt: "Erica Wolverton") %>  
			   
			    </div>
			                        </div>
			<a href="services.php">(Link to services page)</a>
			<br>
			<p></p>
			<h4>I provide the crucial support you need to help your family

			and your child succeed. </h4>
			<p>The plan we create together will be tailored to meed the unique needs of your child and your family and will be informed by multiple formal and informal assessments and conversations. the Action Plan may include:</p>
			<ul>
				<li>Advocacy at school with your child's teaching team</li>
				<li>Social,emotional or academic coaching or therapy</li>
				<li>Support for communication between medical professionals, mental health practitioners and schools</li>
				<li>Family support</li>
				<li>Consultation for decision making</li>
			</ul>
			<p class="medium">Let me help.</p> 
			<p></p>
			<a href="services.php">(Link to services page)</a>
			<p></p><br>
			                        
			                        
									<h4>Credentials and Experience</h4>

			<p class="medium">I've been there.</p>

			As a <strong>school counselor</strong> supporting students and families as they navigate social challenges, 

			academic challenges, and community challenges.
			<p></p>
			<p class="medium">I've been there.</p>

			As a <strong>learning specialist</strong> working one-one with students who struggle to recognize their 

			strengths through the disorienting confusion of their challenges.
			<p></p>
			<p class="medium">I've been there.</p>

			As a <strong>classroom teacher</strong> for fifteen years working every single second to help each child 

			recognize and strive toward their truest potential.
			<p></p>
			<p class="medium">I've been there.</p>

			As a <strong>spouse</strong> trying to work together as a team to meet the challenges and demands of growing 

			and changing children.
			<p></p>
			<p class="medium">I've been there.</p>

			As a <strong>mom</strong> wanting nothing more than the very best for my child but not always knowing what that looks like.
			<p></p>
			                        <p class="medium">I know schools.</p>
			<p></p>
			    <p class="medium">I know kids.</p>
			<p></p>
			    <p class="medium">I know families.</p>
			<p></p>
			    <p class="medium">I can help. </p>
			<p></p>
			<a href="services.php">(Link to services page)</a>
			<p></p><br></br>
			                    <div class="assessmentbox"><h4>The Official Credentials</h4>
			<p></p>
			<ul>

									<li>Masters of School Social Work </li>

									<li>Bachelor’s in Elementary Education</li>

									<li>Certified Administrator of  All Kinds of Minds</li>

			<li>3rd/4th Grade Teacher – Lincoln International School -Buenos Aires, 

				Argentina </li>

									<li>3rd Grade Teacher – International School of Brasilia - Brasilia, Brazil </li>

									<li>School Counselor, The Gardner School for Multiple Intelligences  </li>

									<li>Learning Specialist, The Gardner School for Multiple Intelligences</li>

									<li>Classroom Teacher Grades 2-6, Washington State Public Schools</li>
									</ul>
			                        </div>
			                   
			                   
								</div>
							</div>
						</div>
			<!--  CONTACT FORM

					<div class="row">
						<div class="large-6 column">
			                <br>
			                <h4 class="contacttext"><strong>I'd love to connect with you.<br></strong> Send me an email at ewolvert@hotmail.com or fill out this contact form.</h4>
							<form name="contactform" method="post" action="send_form_email.php">
								<div class="large-12 columns">

									<input type="text" name="email" placeholder="Your Email" />

								</div>

								<div class="large-12 columns">

									<input type="text" name="first_name" placeholder="Your Name" />

								</div>

								<div class="large-12 columns">

									<textarea name="comments" placeholder="Your Message" rows="6"></textarea>

								</div>

								<input type="submit" value="Send" href="#" class="button right contactbutton">
							</form>
						</div>
						<div class="large-6 column text-center">
					          
							<div class="row">
								<div class="large-8  columns text-right">
									<br>
									<a href="ewolvert@hotmail.com">ewolvert@hotmail.com</a> <br>360 836 9124
									<img class="ericapicwork" src="images/erica.jpg">
								</div>
							</div>
						</div>
						<div class="row space"></div>
			-->

	</div>
</div>
