	<div class="painting">
		<!-- Panel  -->
		<div class="row">
			<div class="text-centered large-12 medium-12 small-12 columns title">
				<h2>Dear Teacher | Dear Parent</h2>
			</div>
			<!--	<div class="text-centered large-4 medium-4 columns photopants">
				<img src="images/photo.jpg">
			</div>
			<div class=" large-4 medium-4 columns">
				<h2>Dear <br>Parent</h2>
			</div>  -->



		</div>
		<div class="row subtitle">
			<h3 class="text-centered">Compassionate Letters for Parents and Teachers</h3>
		</div>

	</div>